
<section class="products my-3">''
    <div class="container">
        <h3 class="w-50 mx-auto text-center border-top border-bottom border-success fw-bold p-2">All products</h3>
        <div class="row">
            @for (product of products ; track product._id)  
            {
            <div class="col-md-2 col-sm-6 p-2">
                <div class="product p-2 cursor-pointer rounded-2" >
                    <div [routerLink]="['/productDetails', product._id]">
                        <div class="product-img">
                            <img [src]="product.imageCover" [alt]="product.title" class="w-100">
                        </div>
                        <div class="product-caption">
                            <h2 class="fs-6 text-main">{{product.category.name}}</h2>
                            <h1 class="fs-6 fw-bold">{{product.title.split(' ').splice(0,2).join(' ')}}</h1>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>{{product.price}} EGP</span>
                                <div class="small">
                                    @for ( star of [1,2,3,4,5].slice( 0,product.ratingsAverage);track $index ){<span><i class="fa-solid fa-star rating-color"></i></span>}
                                    @if( product.ratingsAverage % 1 != 0) {<i class="fa-solid fa-star-half-stroke rating-color"></i>}
                                    <span>{{product.ratingsAverage}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button (click)="addCartItem(product.id)" class="btn-main w-100">Add To Cart +</button>
                    
                </div>
            </div> 
            }
        </div>
    </div>
    
</section>