
    <section class="container mt-5">
        <section class="text-center bg-light p-4 rounded w-50 mx-auto shadow">
            @if (resText) {<p class="alert alert-warning p-2 w-50 mx-auto text-center fs-6 fw-bold rounded-2">{{resText}}</p>}
            <h3 class="mb-4">إعادة تعيين كلمة المرور</h3>
    @if (step === 1) 
    {
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="searchEmail()">
            <p>يرجى إدخال بريدك الإلكتروني للبحث عن حسابك</p>
            <input formControlName="email" type="email" placeholder="البحث بواسطة البريد الإلكتروني ..." class="input-product m-3">
            <button type="submit" class="btn btn-main">بحث</button>
        </form>
    }
            
            @if (step === 2) 
            {
                <form [formGroup]="resetCodeForm" (ngSubmit)="sendCode()">
                    <p>يرجى إدخال الكود المرسل إلى بريدك الإلكتروني</p>
                    <input formControlName="resetCode" type="text" placeholder="اكتب الكود المرسل ..." class="input-product m-3">
                    <button type="submit" class="btn btn-main">إرسال</button>
                </form>
            }

            
            @if (step === 3) 
            {
                <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">
                    <p>يرجى إدخال كلمة المرور الجديدة</p>
                    <input formControlName="email" type="email" placeholder="اكتب البريدالإلكتروي..." class="input-product m-3">
                    <input formControlName="newPassword" type="password" placeholder="اكتب كلمة المرور الجديدة ..." class="input-product m-3">
                    <button type="submit" class="btn btn-main">إعادة تعيين</button>
                </form>
            }

            
            
        </section>
    </section>